[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
flake8 = "*"
djoser = "*"
psycopg2-binary = "*"
django-environ = "*"
pytest = "*"
celery = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
